{% extends 'base.html' %}

{% block title %}欢迎来到我的网站{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-5">欢迎来到我的网站</h1>
            <p class="lead">这是一个使用 Django 和 Bootstrap 构建的网站主页。</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">功能一</h5>
                    <p class="card-text">这里描述网站的第一个主要功能。</p>
                    <a href="#" class="btn btn-primary">了解更多</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">功能二</h5>
                    <p class="card-text">这里描述网站的第二个主要功能。</p>
                    <a href="#" class="btn btn-primary">了解更多</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">功能三</h5>
                    <p class="card-text">这里描述网站的第三个主要功能。</p>
                    <a href="#" class="btn btn-primary">了解更多</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}